body {
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	background-image: url('bg1.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-color: #ffffff;
	color: #000000;
}

h1 {
	font-size: 65px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #000000
}

#icon {
	height: 100px;
	display: block;
	margin: -10px auto;
}

img {
	display: block;
	margin: 20px auto;
}

.used {
	border: #6B7A8F;
	background: #6B7A8F;
}

#container>div {
	color: #EFEFEF;
	border: 1px solid #FFE66F;
	background: #FFE66F;
	width: 45px;
	height: 45px;
	font-size: 20px;
	text-transform: uppercase;
	margin-right: 5px;
	display: inline-block;
	line-height: 45px;
}

button {
	color: #EFEFEF;
	border: 1px solid #FF7575;
	background: #FF7575;
	width: 45px;
	height: 45px;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	margin-bottom: 5px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: transform;
	transition-property: transform;
}

button:hover {
	border: #FF9797;
	background: #FF9797;
	cursor: pointer;
	color: #EFEFEF;
	text-transform: uppercase;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

button:focus {
	outline: 0;
}


.play-again {
	margin-top: 20px;
	width: 190px;
	height: 45px;
	background: #4ABDAC;
	border: 1px solid #4ABDAC;
}